[2017-12-07 22:56] gaalcaras opened #1 "ncm-R does not load"
@jalvesaq reported he could not get ncm-R to work properly.

Unfortunately, I was unable to reproduce the issue with this minimal setup. If someone's able to reproduce the bug, please let me know.

Please read: https://github.com/jalvesaq/Nvim-R/issues/257#issuecomment-350031761

[2017-12-11 07:38] adrianadermon commented on #1
I have the same problem with Neovim on Windows 10 - I don't get any autocompletion suggestions from your plugin.

[2017-12-12 12:29] gaalcaras commented on #1
Thank you for your feedback. Unfortunately, I won't have access to a Windows 10 machine any time soon, so I'm still unable to reproduce the issue.

Could you please answer the following questions? They'll help me to narrow down the problem.

1. Is NCM working with other filetypes, like Python?
2. Do you see files named `omnils_{PKGNAME}_{PKGVERSION}` in your `g:g:rplugin_compldir` directory? If no

[2017-12-12 20:05] adrianadermon commented on #1
1. Yes - NCM works fine with Latex and the Vimtex plugin; it also works for Ultisnips completion and path completion in R.

2. Yes.

3. No, I can't find any such lines.

Thanks for looking into this, let me know if there is anything else I can do to help.

[2017-12-14 22:40] gaalcaras commented on #1
Okay, I was finally able to reproduce the bug on Ubuntu 16.04. Could you try out the `next` branch and tell me if it works on Windows 10?

For instance with vim-plug:
[code]
@jalvesaq, does it solve the issue for you?

[2017-12-14 23:15] jalvesaq commented on #1
Unfortunately, the issue is not solved. Nvim-completion-manager works with python scripts, but nothing happens with R scripts when, for example, I slowly type `writeLines` after starting R.

[2017-12-14 23:36] gaalcaras commented on #1
Too bad, I'll keep looking. What's your version of Python 3? I had 3.6.3 on Arch, but Ubuntu 16.04 came with 3.5.2 and that's why I couldn't reproduce the bug on my system.

Also, did you get a message in Nvim by any chance? Something like `[INFO] ncm-R can't find the completion data`?

[2017-12-14 23:48] jalvesaq commented on #1
My Python 3 is 3.6.3 too, and the file `nvim.log_py3_cm_core` does not include the string `ncm`.

I am going to merge the branch "omni_one" now, so you will not waist your time working with the old completion functions.

[2017-12-15 12:37] jalvesaq commented on #1
I am no longer setting `R_LIBS_USER` in my `~/.bashrc` and now ncm-R is working. All R packages are now installed at `~/software/R-3.4.3/library`. In my `init.vim`, I have:
[code]

[2017-12-15 21:17] gaalcaras commented on #1
I'm glad it's working now! However I don't understand how this could affect ncm-R. Just curious, what was the previous value of `R_LIBS_USER`?

Anyway, I'll be merging `next` to `master` soon. @adrianadermon, did you have time to test it on Windows 10?

[2017-12-15 21:32] statquant opened #2 "Does ncm-R works on vim"
Hello, sorry for the stupid question but does ncm-R works on vim 8.0+ like nvim-R ?
Maybe it would be worth mentioning in the readme

[2017-12-15 21:44] jalvesaq commented on #1
The value of `R_LIBS_USER` was `~/.cache/R`.

[2017-12-15 21:55] gaalcaras commented on #2
No, ncm-R does not support vim. I've been careful to only mention Neovim (and not vim) in the README. But you're right, I guess I can be more specific.

I don't plan to support vim 8 any time soon, ncm-R is still a young project and I want to keep the development focused on Neovim for now. But I'm not excluding the possibility, especially if it's a feature people want.

Since vim 8 isn't my daily

[2017-12-15 22:13] statquant commented on #2
Hello, agreed you never mentioned vim. Maybe it is just me but some people seem to assume no mention implies compatibility... anyway.
Regarding the completion engine it seems that nvim-completion-manager support vim8 (from reading its readme, modulo installation of another addin)

[2017-12-15 22:34] gaalcaras commented on #2
I didn't realise NCM was compatible with vim 8, thanks!

So... maybe ncm-R actually works with vim 8, I'd have to check. I'll add it to my todo list, but it's not a priority for me at the moment. If you have some time to look into this, I'd appreciate your feedback.

[2017-12-15 22:55] statquant commented on #2
Ok, I just reinstall everything from scatch in neovim and the completion does not seem to work...
Strangely enough I do get a snip completion on lib[rary] but no completion on any function like pl[ot?].
Is there a way for me to diagnose the issue ?

[2017-12-15 23:10] gaalcaras commented on #2
First, you should use the `next` branch, it fixes some bugs and outputs messages to guide the user when something doesn't work. I'll be merging it into `master` soon.

To diagnose the issue, the following should help:

1. Is NCM working with other filetypes, like Python?
2. Do you see files named `omnils_{PKGNAME}_{PKGVERSION}` in your `g:g:rplugin_compldir` directory? If not, try to generate some

[2017-12-15 23:37] statquant commented on #2
Hello thanks for the steps.
1 and 2 are affirmative (well I do not do python but installing jedi and jedi-vim I get completion with C-space)
3 does not work, I mean I get a lot of stuff in `nvim.log_py3_cm_core` but nothing like `word: "read.csv", func: "", pkg: , pipe:`

I use `Fedora 26` all up to date
[code]

[2017-12-16 11:00] adrianadermon commented on #1
Tried with the next branch, but it still doesn't work.

I had my R_LIBS_USER set to ~/Documents/R/win-library/3.3, so I removed it to see if that helps (default is C:/Program files/R/R-3.4.1/library), but this didn't help either. I should note that the default is in .libPaths() in both cases, so perhaps the problem could be related to windows path with spaces in it (although that doesn't ex[lain @

[2017-12-16 12:55] gaalcaras commented on #2
Thanks for the feedback.

You should not have to type <kbd>C-Space</kbd> to trigger completion, NCM has a "suggest as you type" behavior. Please make sure NCM works as intented before testing ncm-R.

If after that, ncm-R still doesn't work in neovim, please go to #1, maybe try some of the fixes suggested and give your feedback over there.

I'll leave this issue open in case you want to test ncm-R

[2017-12-16 13:19] gaalcaras commented on #1
Yes, I suspect this has to do with reading files on Windows. I've created the branch `windows-fix` in an attempt to fix it. Can you try it and see if it works?

[2017-12-18 14:06] adrianadermon commented on #1
Doesn't work, but at least I have a new error for you. Starting R from Nvim-R works fine, as does sending lines, but when start typing something in the R script file, I get the following error in the R console:

    [Process exited -1073741784]

[2017-12-18 16:44] gaalcaras commented on #1
I think I understand where the problem comes from.

@jalvesaq and I are trying to change how ncm-R and Nvim-R communicate with each other. I believe this particular bug should disappear after I reimplement how ncm-R gets loaded R packages. See: https://github.com/jalvesaq/Nvim-R/issues/257#issuecomment-352260210. I'll get back to you when this is done and working on Linux.

I'm not sure it will so

[2017-12-22 09:44] sluedtke opened #3 "ncm-R fails to load"
Hi there,

I am getting the following error messages after starting nvim with an R file:
[code]
Running on a KDE-neon user edition.

Do you have any idea.

[2017-12-22 15:48] oli666 opened #4 "Error "'\l' is an unrecognized escape sequence" when starting to type"
hi,
I get the attached error when starting to type the first letter in insert mode.

![unbenannt](https://user-images.githubusercontent.com/7488029/34303861-a2f80fde-e737-11e7-869c-1c655ef8f89b.png)

Before that, I have successfully started R using <localLeader>rf and can send lines of code to the R process without issues.
Also: the word completion works just fine and I have also used Jedi to test

[2017-12-22 16:01] gaalcaras commented on #4
Thanks for the feedback.

You have the exact same issue than: https://github.com/gaalcaras/ncm-R/issues/1#issuecomment-352434811

I know what's causing this bug on Windows 10. I think the next version of ncm-R will solve the issue, because it will interact with Nvim-R in a different way.

If you want to try the next version and see if it works, please use the following branches (this is using `vim

[2017-12-22 16:13] gaalcaras commented on #3
Thanks for the feedback.

Yes, I think I know where the bug comes from. I've pushed https://github.com/gaalcaras/ncm-R/commit/8b2e3fb8c985e82aa9ea33c526b101ff77e20a96 to `master`. Please update ncm-R and see if this fixes it.

If it's still not working, you may want to try the next version of ncm-R and Nvim-R by using the following branches (this is using `vim-plug`):

[code]

If you still have th

[2017-12-22 16:16] oli666 commented on #4
Good stuff! I have checked out the according branches and everything seems to be working now, excellent! Will start exploring this already awesome looking plug-in! Many thanks for the quick turn around.
Oli

[2017-12-22 16:19] sluedtke commented on #3
Thanks for the fast reply ..

I will try that before Christmas , but no promise at this point.

either way, happy Christmas .. ;-)

On Friday, 22 December 2017 17:13:12 CET Gabriel Alcaras wrote:

[2017-12-22 16:23] gaalcaras commented on #4
That's great news!

Please note that I don't know when @javelsaaq or I will be merging the dev branches into `master`. But since they are feature branches, they'll probably be deleted in the near future so be on the lookout for that.

[2017-12-22 16:24] #4 closed

[2017-12-22 16:27] gaalcaras commented on #1
@adrianadermon It seems from #4 that the next version of ncm-R works on Windows. If you want to give it a try, please use the following branches (this is using `vim-plug`):

[code]

[2017-12-22 16:52] gaalcaras commented on #2
I've just tried [ncm-R](https://github.com/gaalcaras/ncm-R) with vim8, and I'm glad to report it works.

However it's all dependent on you getting NCM to work with vim8, there is some additional work to get there: https://github.com/roxma/nvim-completion-manager#requirements . And since there's a compatibility layer between NCM and vim, ncm-R is a bit slower on vim 8 (though it felt perfectly usab

[2017-12-22 16:52] #2 closed

[2017-12-22 16:58] jalvesaq commented on #4
I'm ready to merge the `auto_list` branch into `master`...

[2017-12-22 17:04] gaalcaras commented on #4
It's ready for me too. Let's merge then :)

[2017-12-22 17:21] jalvesaq commented on #4
Done!

[2017-12-22 17:35] gaalcaras commented on #4
And... Done!

[2017-12-22 17:41] gaalcaras commented on #3
Update: ncm-R and Nvim-R have been updated, so you can stay on `master` and try their newest versions.

[2017-12-22 21:24] sluedtke commented on #3
it looks good. The error at start up disappears and the package is working.
thanks! I am looking forward to work with that.

[2017-12-23 00:03] gaalcaras commented on #3
Awesome :) Don't hesitate to open a new issue if you find another bug or if you want to suggest a new feature.

[2017-12-23 00:03] #3 closed

[2017-12-24 16:19] statquant opened #5 "Very poor performance using vim8"
Hello, I have installed and setup a `vim8` version.
The completion appears to work but randomly makes vim freeze. Did you notice such occurrences ?
Is there any diagnostic tool I can use to test things up ?

I run `Fedora 26, vim 8.0.1360`, on a core i7, 16G RAM laptop (so should be plenty)

[2017-12-25 12:16] gaalcaras commented on #5
Thanks for your feedback. I have not ran into this issue on my 7-year-old laptop or on my main machine with the same hardware config as yours (both running ArchLinux).

You're very welcome to try and debug this, since I can't reproduce it and I don't use vim8 as my daily editor. You can run `NVIM_PYTHON_LOG_FILE=nvim.log NVIM_PYTHON_LOG_LEVEL=INFO nvim` and look at `nvim.log_py3_cm_core`. You can

[2017-12-28 14:10] adrianadermon commented on #1
It works!

I do get the following error when I type the first letter in insert mode:

    [ERROR] [ncm-R] Could not load completion data: 'charmap' codec can't decode byte 0x9d in position 60: character maps to <undefined>

...but then everything seems to work fine.

[2018-01-04 16:37] seb-mueller opened #6 "Variables inside data transformation pipelines: only for certain dataframes?"
Having played with various completion managers (deoplete etc) for R, ncm + Nvim-R+ ncm-R appears most promising. Especially variable expansion inside data transformation pipelines is an awesome feature. However it seems not always to work for me.

As shown in the [example](https://user-images.githubusercontent.com/6551953/33718382-76ee990c-db5d-11e7-9a84-89e790c9e577.gif), loading the flight datas

[2018-01-11 18:54] cole-brokamp opened #7 "question about triggering autocompletion"
I'm enjoying ncm-R a lot, thank you very much for your work on this!  I can successfully get autocompletion working within a pipeline, e.g.

[code]

This finishes completion fine, but when I return to that code and want to change the word inside `select()`, the completion does not seem to work.  I've found that it only works when there is an open paren typed while in insert mode.

In other words,

[2018-01-11 18:56] cole-brokamp commented on #7
It's also a little unclear how I should be triggering autocompletion.  Am I right in assuming that this is taken care of by the usual vim autocompletion commands?  Sometimes autocompletion happens for me automatically as I type and sometime, I need to manually command it.  This could have something to do with other plugins (omnicomplete), though.

[2018-01-11 20:52] gaalcaras commented on #6
Hi there, thanks for the feedback and sorry for the late response.

It actually works for me every time:

![completion works](https://user-images.githubusercontent.com/6551953/34846310-060be272-f718-11e7-9cc5-a30a339dc9ad.png)

Since I can't reproduce your issue, you're welcome to try and debug this for yourself (see [this section of the README](https://github.com/gaalcaras/ncm-R#debugging)).

I d

[2018-01-11 20:55] gaalcaras commented on #1
Great! Thanks for the feedback.

I may have an idea about that weird message, I'll try and fix that soon.

[2018-01-11 20:55] #1 closed

[2018-01-11 21:20] gaalcaras commented on #7
Thanks a lot for your feedback.

I've also noticed this. I think this might be a problem with [nvim-completion-manager](https://github.com/roxma/nvim-completion-manager), since I also run into it with python completion:

[code]

If I <kbd>ciw</kbd> on `re`, the pop-up menu doesn't come up. I have not looked into it too deeply, since it's not bothering me too much, but it's definitely on my list of

[2018-01-11 22:15] cole-brokamp commented on #7
Thank you for your helpful response.  This has cleared up a lot of confusion for me.  I did open an issue over at nvim-completion-manager

https://github.com/roxma/nvim-completion-manager/issues/173

I'll close now because this is an issue with the completion-manager and not R-specific.  I'll reopen if anything gets resolved.

Thanks again!

[2018-01-11 22:15] #7 closed

[2018-01-28 08:32] ShuguangSun opened #8 "Could not load completion data: 'gbk' codec can't decode byte 0x99 in positon.."
System: Windows in Chinese (gbk/cp936)
Vim: Vim 8
Python: 3.6.3 (will it be supposed to utf8 as default?)

Nvim-R and ncm-R are used. When I type in the R script files, it raise the error message:
Could not load completion data: 'gbk' codec can't decode byte 0x99 in positon..
It has been set:

  set fileencodings=utf-8,cp936,big5,euc-jp,euc-kr,latin1,ucs-bom

In .Rprofile : options(encoding = "UTF

[2018-01-28 11:22] gaalcaras commented on #8
Thanks for your feedback.

Someone else already reported this bug, but it seemed it didn't prevent completion from working. Do you just get the warning or is completion broken as well?

I'm working on a fix right now, I'll updated you when I release it.

[2018-01-28 16:48] ShuguangSun commented on #8
You are right. Some of the files in g:rplugin_compldir are not UTF-8.

[2018-01-30 13:54] gaalcaras commented on #8
All right. Can you please answer the following questions? That would be helpful to write a patch, I'd like to improve the way ncm-R loads completion data:

+ Does completion work or not (in spite of the error message)?
+ Which files are not UTF-8?

[2018-01-30 15:22] ShuguangSun commented on #8
It is from Nvim-R:
[https://github.com/jalvesaq/Nvim-R/issues/276#issuecomment-361588169](https://github.com/jalvesaq/Nvim-R/issues/276#issuecomment-361588169)

[2018-01-30 18:05] gaalcaras commented on #8
Okay, thank you! I see the problem is already solved in Nvim-R, so I'm closing this issue.

[2018-01-30 18:05] #8 closed

[2018-01-31 06:58] ShuguangSun commented on #8
Just for document.
In window, the function **open** will decide the encoding according to the system local (in my case gbk). Even if the file is encoded using utf-8, python open will try to decode it with gbk. It is the error message comes.

In python 3, "encoding='utf-8' in open function can help. However it has side effect and requires all omnils encoded using 'utf-8'.
[code]

[2018-01-31 08:41] gaalcaras commented on #8
Exactly, that's what https://github.com/gaalcaras/ncm-R/commit/ff3297b8b134847db5107e48c4b75f56ee89ec1e did 😉

[2018-02-01 11:24] seb-mueller commented on #6
Following your instructions, it seems ncm-R works fine for other types.
I.e. if upon typing `library(` and having the cursor just after the bracket, gives my a list of all installed libraries putting this into the log:

    2018-02-01 10:58:08,088 [INFO @ cm_core.py:cm_refresh:376] 758 - notify_sources_to_refresh calls cnt [0], channels cnt [1]
    2018-02-01 10:58:08,090 [INFO @ cm_core.py:_refre

[2018-02-14 22:39] marskar opened #9 "ncm-R not working consistently"
I can't get ncm-R to work consistently.
I see autosuggestions only sometimes. I would like the plugin to work like in your video.

I'm on a Mac OS High Sierra (10.13.2 (17C205)) using brew installed neovim.
[code]
I tried both brew installed python3 with pip3 neovim installed and conda install python 3 and neovim client.
Do you have any suggestions of how to figure this out?

[2018-02-22 15:05] gaalcaras commented on #6
Okay, I think we're looking at two different things. The `GlobalEnvList_*` stuff has more to do with Nvim-R, so let's leave this one for later.

It does seem like the code parser of ncm-R is failing somehow to detect your `select(` as a piped function. The code for that is here:

https://github.com/gaalcaras/ncm-R/blob/master/pythonx/rlang.py

Maybe this is as simple as a Regex problem, or it coul

[2018-02-22 15:13] gaalcaras commented on #9
Thanks for your feedback!

First, you should check whether the bug comes from NCM or ncm-R. Python completion is a built-in feature of NCM so that's a good place to start.

If NCM's Python completion works reliably 100% of the time, then there's probably something wrong with ncm-R. You should then try to find out if there's a pattern in the failures. Reading the logs in real time while trying to t

[2018-02-22 18:00] seb-mueller commented on #6
Happy to try some debugging, but I'm not very familiar with ncm or how python plays with vim in general.
Is there any way to call this python script externally (surpassing vim) for debugging so I can inspect the code at runtime?

Also, the piped function detection seems to work for iris `[ncm-R] word: "", func: "select", pkg: None, pipe: iris` but not flights data `[ncm-R] word: "select", func: ""

[2018-02-23 10:34] gaalcaras commented on #6
There is actually. For the `rlang` module (and some other modules I guess), it would be pretty easy. Most of its functions take three arguments: `buff`, `linenum` and `numcol`. The last two relate to the position of the cursor in your buffer and `buff` contains the buffer's content (it's actually a list of all the lines).

For instance, to test POS1 you could do something like:

[code]

I didn't a

[2018-02-25 20:50] marskar commented on #9
I confirmed that NCM Python completion is working but still having problems with ncm-R.
Sometimes ncm-R works perfectly, but most of the time it only suggests packages to put inside of my library() and require() calls. I will look at the logs and let you know.

[2018-02-26 02:01] t2ok commented on #9
I had the same problem on my macOS Sierra (10.12.6).
Rolling back NVIM-R to the commit 41459c1 (tag v0.9.11) worked for me. I would love to know why though.
I'm using neovim (v0.2.2) installed with homebrew and python client to neovim (0.2.1) with pip3.

[2018-02-26 10:27] seb-mueller commented on #6
Thanks for the instructions. Having followed your suggestions I got the following results (likewise for flights):

    print(rlang.get_function(buff, 7, 10))
    #[None, 'select']
    print(rlang.get_pipe(buff, 7, 10))
    #iris

So I suppose the regex seems to work. As next I wanted to to inspect the workspace and followed again your instructions.
Briefly, I've started nvim this way:

    NVIM_PY

[2018-02-28 08:57] gaalcaras commented on #6
OK, that's good I suppose :)

Interesting question! I've never really looked into it, but my guess is you would have to talk to the rpc server directly. Look at the end of https://github.com/roxma/nvim-completion-manager/wiki/Trouble-shooting, it seems like you can start a source manually, so maybe there's a clever hack to attempt here.

But honestly, NCM clearly favors logs for debugging, otherwi

[2018-02-28 09:11] gaalcaras commented on #9
Interesting. Most of the changes after 41459c1 relate to the encoding of completion data generated by Nvim-R, which some ncm-R Windows users had problems with (see https://github.com/jalvesaq/Nvim-R/issues/276 and https://github.com/gaalcaras/ncm-R/issues/8). jalvesaq solved it with https://github.com/jalvesaq/Nvim-R/commit/311e585fa77326099ea08e3cb731fef8697e9298, then he changed the way Nvim-R d

[2018-02-28 15:54] marskar commented on #9
Wow, it is working now!
Thanks @t2ok ! I never would have thought to try this.
@gaalcaras, @jalvesaq, is there anything I can do to help figure this out?

[2018-02-28 15:57] jalvesaq commented on #9
The Python log has the following:
[code]
The issue was caused by https://github.com/jalvesaq/Nvim-R/commit/2dc4962e6a1962487ad8de08e17b411bb39ef750

Because Nvim-R no longer uses Python to generate random numbers, the environment variables `NVIMR_ID` and `NVIMR_SECRET` are defined only when starting the `nclientserver` job. Consequently, the file `/GlobalEnvList_$NVIMR_ID` is created only after st

[2018-02-28 16:05] jalvesaq commented on #9
We still may have problems with encoding. I could test R running within Cygwin on Windows and discovered that `localeToCharset()` returns "UTF-8" but, in fact, R cannot handle UTF-8 properly. The issue can be tested trying to complete `as.matrix.noquote` which has single quotes in its description.

[2018-02-28 18:07] gaalcaras commented on #9
Sure, I'll keep all of you posted. Thanks for your input, I wasn't aware of this change.

Well, don't we always? Anyways, someone using Windows is welcomed to this out.

[2018-03-12 12:58] gaalcaras commented on #9
https://github.com/gaalcaras/ncm-R/commit/431cf473bdac0722f4ab8e81074d3cdb55eecc29 now checks for the file existence first. @t2ok @marskar can you tell me if this makes ncm-R work better with Nvim-R? You'll have to checkout branch `globenv-fix`.

[2018-03-12 13:27] marskar commented on #9
Awesome! It works flawlessly now.
Thank you @gaalcaras and @jalvesaq for ncm-R and Nvim-R (amazing tools that I use every day) and for resolving this issue.
Thank you @t2ok for providing the missing piece to the puzzle.
I'm going to close this issue now because 431cf47 solves the problem for me completely.

[2018-03-13 01:35] t2ok commented on #9
Great! It works perfectly on my machine too.
Thank you for your kind support.

[2018-03-14 08:24] gaalcaras commented on #9
Great! I've merged it to `master`, please use that to benefit from future updates.

[2018-03-25 11:32] seb-mueller commented on #6
Thanks for all the info. I've played around a bit but didn't really understand the structure and interplay between ncm and ncm-R to debug the right objects. I've tried to add `LOGGER.info()` but found probably all info are already generated ncm itself by a few `LOGGER.debug` calls which is captured by the debug log level (as opposed to info log level I used before):

     NVIM_PYTHON_LOG_FILE=nvim

[2018-05-01 19:33] petobens opened #10 "Deoplete source"
Do you plan to implement (or do you happen to know if there is) a deoplete source for r completion? Thanks!

[2018-05-14 17:43] kadekillary commented on #10
Definitely would be nice, especially considering nvim-completion-manager is [no longer maintained](https://github.com/roxma/nvim-completion-manager).

[2018-05-14 17:54] mschilli87 commented on #10
Just cross-referencing the relevant issues to avoid the same discussion everywhere:
* https://github.com/jalvesaq/Nvim-R/issues/326
* https://github.com/Shougo/deoplete.nvim/issues/745

The second was actually mentioned in the first: https://github.com/jalvesaq/Nvim-R/issues/326#issuecomment-386109839

The whole discussion started here: https://github.com/jalvesaq/Nvim-R/issues/326#issuecomment-38

[2018-05-24 22:20] #5 closed

[2018-05-24 22:35] statquant opened #11 "Could not load completion data"
Hello, I am getting the following error when using ncm-R with vim 8.0.642 and latest nvim-r
`[ERROR] [ncm-R] Could not load completion data: 'ascii' codec can't decode byte 0xe2 in position 107: ordinal not in range(128)
`
Would you have an idea ?

[2018-10-27 18:13] gregrs-uk opened #12 "Can't get UltiSnips working"
I've installed the new version of ncm: [ncm2](https://github.com/ncm2/ncm2), UltiSnips and [ncm2-ultisnips](https://github.com/ncm2/ncm2-ultisnips). I have the following in my `init.vim`:

[code]

but I'm not seeing any snippet expansion. Is this because of the new version of ncm perhaps?

[2018-11-01 19:15] gregrs-uk commented on #12
I've tried using the old version of ncm, which works okay, but ideally I guess it would be good to be able to use ncm2.

[2018-11-04 11:35] coachshea opened #13 "ncm2"
I love this plugin. Thank you so much for it. With ncm depracated, I'm wondering if this is going to be ported to work with ncm2.

Thanks again for your wonderful plugin.

[2018-11-11 21:38] hughshuwang commented on #13
Same question here. Seems like it’s not working properly (at least for all functionalities showed) with ncm2 + ncm-R, and the key remapping for <c-n> and <c-p> is not working.

[2018-11-15 08:43] gaalcaras commented on #13
Hi there,

Unfortunately, I had to put ncm-R on the back burner for a while, mainly because I had to switch from R to Python for work, so I rarely used ncm-R myself anymore.

The good news is, I temporarily had to work on a R project last week, and not having R completion with ncm2 was frustrating, so I've been working on updating ncm-R to make it work with ncm2.

I'm keeping it on a [feature bran

[2018-11-15 08:52] gaalcaras commented on #12
Hi there,

Unfortunately, I had to put ncm-R on the back burner for a while, mainly because I had to switch from R to Python for work, so I rarely used ncm-R myself anymore.

The good news is, I temporarily had to work on a R project last week, and not having R completion with ncm2 was frustrating, so I've been working on updating ncm-R to make it work with ncm2.

I'm keeping it on a [feature bran

[2018-11-15 08:57] gaalcaras commented on #11
Hi there,

Unfortunately, I had to put ncm-R on the back burner for a while, mainly because I had to switch from R to Python for work, so I rarely used ncm-R myself anymore. But I'm back at it now!

As you may know, ncm has been deprecated in favor of ncm2. Consequently, I won't be fixing any bug on the "old" version of ncm-R. You can try the [feature branch](https://github.com/gaalcaras/ncm-R/tre

[2018-11-15 14:02] coachshea commented on #13
I certainly understand catering to work demands, but I (perhaps selfishly) am glad that you had that R project to work on last week. I'll have some time this weekend to try it out and I'd be happy to do that and get back to you.

Thank you again for your great work!

[2018-11-15 17:03] hughshuwang commented on #13
Glad to hear that you made the update! Appreciate your time and will try it out on weekend. Will get back to you soon.

Thanks! This is awesome work.

[2018-11-18 20:43] coachshea commented on #13
I had an interesting experience trying this out. On my home computer (a debian and the main computer  I use with this) I could not get it to work. I thought that there might have been a conflict with an existing plugin and I didn't have time to sort it out (I have quite a few plugins), so I decided to try a fresh install on my work computer (a mac; I should point out that I am a high school math t

[2018-11-19 07:15] gaalcaras commented on #13
Thanks for your feedback, I appreciate it.

Yes, you should get rchunk completion, although there is a small bug that I can't seem to fix right now. Rchunk completion doesn't work the first time it's loaded, so you have to quit insert mode, go back and then it will work every time.

You can try [the following minimal vimrc](https://github.com/gaalcaras/ncm-R/blob/ncm2/test/min_vimrc) that I use fo

[2018-11-21 06:56] gregrs-uk commented on #12
Many thanks @gaalcaras. I may not have time to test it immediately but when I do I'll give it a whirl…

[2018-11-21 22:06] gaalcaras commented on #13
The `ncm2` feature branch has now been merged to `master`, you can start using it instead of the feature branch, which has been deleted.

I'm also closing this issue since the switch to ncm2 has been completed. **Please open a new issue** if you run into a bug or have questions.

[2018-11-21 22:06] #13 closed

[2018-11-21 22:09] gaalcaras commented on #12
Awesome, keep me posted.

I have now merged the feature branch into `master`. Since this issue is about an older version of ncm, I'm now closing it. But feel free to **open a new issue** if you run into problems when setting up snippets.

[2018-11-21 22:09] #12 closed

[2018-11-21 22:11] gaalcaras commented on #11
I have now merged the feature branch into `master`. I'm closing this issue since it's about an older version of ncm-R. Please feel free to **open a new issue** if you run into a similar bug with the latest version of ncm-R.

[2018-11-21 22:11] #11 closed

[2018-11-21 22:12] gaalcaras commented on #6
I'm closing this issue since it's about an older (and deprecated) version of ncm-R. But feel free to **open a new issue** if you run into a similar bug with the latest version of ncm-R.

[2018-11-21 22:12] #6 closed

[2018-11-21 22:14] gaalcaras commented on #10
FIY, I just merged the feature branch into `master`, you should use that instead of the now deleted feature branch.

[2018-11-22 17:20] petobens commented on #10
Maybe @Shougo can suggest some way of porting the ncm2 source into deoplete, personally I have no idea how easy/difficult that might be...

[2018-11-23 07:35] Shougo commented on #10
Hm...  Current deoplete source interface is pretty simple.  You can read the code in deoplete.

I keep the compatibility if possible.  It is not guaranteed though.

[2018-11-25 17:56] heygent opened #14 "ncm-R not working with the latest Python neovim client"
I recently updated neovim and neovim-python on my machine, and ncm-R started to give this error on the first completion:

[code]

Replacing `neovim.api.nvim` with `neovim.api` in the pythonx folder fixes the problem on my machine.
I don't know whether that causes problems with previous versions of the client though. I'm submitting a pull request with the changes soon.

[2018-11-26 10:12] sjewo commented on #14
Replacing neovim.api.nvim with neovim.api works for me too (NVIM v0.3.1, python-neovim 0.3.1).

[2018-11-27 07:43] #14 closed

[2018-11-27 22:06] marskar commented on #14
I had this same problem and the solution here works for me too.

[2019-01-16 03:03] chrisvacc opened #16 "Autocomplete only recognizes base package."
I ran Sys.getenv("NCM_R”) which returns “TRUE” and still no luck.

macOS Mojave

I use both NVIM and Vim with a shared .vimrc, same issue in both

[code]
[code]
[code]
Works fine with base package:

![](https://i.imgur.com/oD320Qa.png)

but installed libraries, no bueno:

![](https://i.imgur.com/7Kgq8Rq.png)

[2019-01-22 08:05] Millani opened #17 "Job is dead due to NotADirectoryError: [Errnp 20]"
Hi, I have been successfully working with NCM2 + Python for a while, and today needed to also get autocompletion for R. I just installed `ncm-R` by pasting the relevant installing code in my `.vimrc`. The plugin seems to have been properly installed in my `.vim/plugged` folder.

However, every time that I open any `.r` file, I get an error. See the output of my `:messages`:

    No matching autoco

[2019-01-22 09:29] gaalcaras commented on #16
Thanks for your input.

Have you loaded the ggplot2 package by calling `library(ggplot2)`? Unless a non default package is loaded, you will only get completion from base packages.

If you'd like to change which packages are considered default by Nvim-R, you can look at `help R_start_libs`.

[2019-01-22 09:35] gaalcaras commented on #17
Thanks for the bug report.

I'll have to check on that a bit later when I have more time, but it's possible that it has to do with the [https://github.com/roxma/vim-hug-neovim-rpc](vim-hug-neovim-rpc) Vim support, which is still experimental. ncm-R works for me with vim8 though.

If you had time to test your setup with neovim, that would be helpful as well.

[2019-01-22 20:32] Millani commented on #17
Hi @gaalcaras thanks for the quick follow-up. I had a few minutes to try it in Neovim and got the same problem, with basically same error messages:

    [ncmR] Can't find completion files. Please load the R packages you need (e.g. "base" or "utils").
    [ncm_r@yarp] Traceback (most recent call last):
    [ncm_r@yarp]   File "/home/millani/.vim/plugged/nvim-yarp/pythonx/yarp.py", line 65, in <modu

[2019-01-24 12:54] gaalcaras commented on #17
Thanks for trying it out with nvim.

Then it's a problem with accessing the completion files generated by Nvim-R. Have you started Nvim-R first? Can you check if the directory `g:rplugin_compldir` exists on your system? If so, please paste the output of `ls` of that directory.

[2019-01-24 20:53] Millani commented on #17
Hi @gaalcaras thanks for your feedback. Ok, I had installed Nvim-R but never initialized a terminal with it, for instance with `<localleader>rf`, because I have been using Slime to send R code directly to Vim 8.1 terminals. Therefore, I did not have any `g:rplugin_compldir` directory created - hence the error message I was getting. Upon opening a Nvim-R terminal, that was solved and then the autoc

[2019-01-25 09:50] gaalcaras commented on #17
A cache directory is not necessarily a temporary directory, so unless you manually remove the cache directory you should be fine. But you can still set up a custom completion directory if you'd like, see `:help R_compldir`.

Also, keep in mind that ncm-R works hand in hand with Nvim-R, so you could miss on some completion features if you use something else to interact with the R console.

[2019-01-25 09:50] #17 closed, assigned to nobody

[2019-02-07 00:43] jalvesaq commented on #16
I think the issue was fixed by https://github.com/jalvesaq/Nvim-R/commit/6ff799026e0505127ad1cb0118dc0f01b7cd8b13

@chrisvacc could you confirm, please?

[2019-02-07 02:08] chrisvacc commented on #16
Hi, yes it was. Sorry, I forgot to reply back.

[2019-02-07 09:50] gaalcaras commented on #16
Awesome, thanks @jalvesaq!

[2019-02-07 09:50] #16 closed, assigned to nobody

[2019-02-26 21:10] matsburg opened #18 "Column completion in the 'i' of a data.table command"
The regex that's used to detect whether the user is typing inside the brackets of a df only matches once a comma has been typed i.e. 'df[,' matches and completions are shown, but 'df[' doesn't and no completions are shown.

For users of the data.table package, completions before the first comma would be really helpful since column names can be used directly for filtering there. This is known as th

[2019-02-27 11:22] gaalcaras commented on #18
Thanks for the feedback. I'm not a regular `data.table` user so it's good to hear from that point of view.

Please do! This feature shouldn't be on by default since it only works with a specific package − unless I'm mistaken and you can do something useful with column names before the comma in base R? So our first step should be to expose a `g:ncmr_dt` option.

Let's start with that, and then we c

[2019-03-02 15:02] matsburg commented on #18
I've implemented this locally now, but had another question:

Currently, when something like `iris[, ` is typed, a completion is triggered by the `',\s'` completion pattern, and the only matches at this point are the columns in `iris`, hence these are shown.

However, if `iris` is a `data.table`, then it would also be valid to type something like `iris[, median(Sepal.Width)]`. But a new completion

[2019-03-18 08:37] fifdick commented on #9
I have the same problem of inconsistently working ncm-r since a few weeks.
I get completion suggestions that are labeled "key" and also when Im inside and open quote writing file names I get all correct completion suggestions for the file directory structure.
Nothing else works, no function recognition not objects that are loaded, etc.
 I tried to use the solution of using tag 431cf47 with vim-plu

[2019-03-20 07:39] shawnchenx6 opened #21 "suppress error"
I am editing my R codes without using the R terminal on nvim, windows 10 ,
and ncmR keeps telling me "can't find $NVIMR_ID please start R using Nvim-R",Is it intended to be so? and is it possible to suppress the error message and only use the completion function?

[2019-03-28 15:42] guillaumechaumet opened #22 "completion don't work for .Rmd files but work fine .rmd"
completion don't work for .Rmd files but work fine .rmd

[2019-04-12 18:59] vnijs opened #25 "Request: Post nvim configuration files?"
I'm very interested in getting ncm-R to work in a Docker container but it has been a *long* time since I tried configuring vim. Would you consider posting your configuration files (e.g., init.vim, etc)? Would be a great place to get (re)started for me.

As I was reading through the issues I also noticed the statement below. I assume you have a similar ncm2 based configuration for python3? If this

[2019-08-17 16:36] khughitt commented on #10
@Shougo Any suggestions for examples of other custom sources of a similar nature that one might use as a template / to get some insights into interfacing with deoplete?

[2019-08-18 05:35] Shougo commented on #10
You should read deoplete source code before asking me...

https://github.com/Shougo/deoplete.nvim/blob/master/rplugin/python3/deoplete/source/around.py

[2019-08-18 16:14] khughitt commented on #10
Fair enough. I likely won't have time to take a stab at this at least until Fall, but perhaps if no one else has implemented this source by then, I'll take a stab at it.

[2019-10-11 01:47] pablo-gar commented on #21
Getting the same problem here

[2019-11-19 21:14] joiharalds commented on #21
A possible temporary, quick and dirty fix is to comment out lines 63-65 in ncm_r.py where the error message is sent for nvim to display

[2019-11-19 22:08] pablo-gar commented on #21
@ShawnChen1996 forked it, seemed to have solved it and submitted a pull request that has not been incorporated. I'm currently using that.

Pull request: https://github.com/gaalcaras/ncm-R/pull/24

[2019-12-26 02:02] gowachin opened #26 "Can't get Parenthesis to work"
I've just installed all the pluggins and they works just fine. However, the completion just add the words but no parenthesis at the end of a function for example.

Here is the .vimrc and  I use vim not neovim
[code]

I don't understand if this minimal issue comes from ncm-R or ncm2...

writing this, display
![image](https://user-images.githubusercontent.com/39699036/71453423-711ec200-278b-11ea-823

[2019-12-27 20:22] gowachin commented on #26
It seems to work when I add this at the end of the `vimrc` file, but I don't quite understand how.
The issue was because I didn't mapped the snippset keys?

[code]

[2020-02-07 17:25] alex-raw opened #27 "Instant help window from Nvim-R (R_show_arg_help)"
I appreciate the instant help window mostly for arguments while selecting. Is there any way to get the same effect with the completion from ncm-R?

[2020-02-12 10:15] xllvrr opened #28 "ncm-R not showing"
I've been searching previous articles to see whether I could manage to find anything but to no avail.
Using neovim 0.4.3-1, on Manjaro KDE 5.4.17.

I can't seem to get the autocompletion to appear while I type. Omnicomplete from Nvim-R works fine, but no amount of tweaking seems to work with ncm-R. I have deoplete installed, but even after commenting out other things it doesn't seem to work.

I do

[2020-02-12 11:11] #28 closed, assigned to nobody

[2020-02-12 11:11] xllvrr commented on #28
I realized that I needed to enable ncm2 in my buffer, which wasn't immediately obvious to me.

[2020-08-02 02:57] AlfredSAM commented on #9
@fifdick Hello! I also has similar problems when using nvim-R and ncm-R. That is, when editing the *.R file, I can only get the suggestions about the existing packages for `library()` and `require()` functions. However, I cannot get other suggestions, like what they illustrate in the website:
"
Objects from the global R environment
Variables of a dataframe when selecting columns inside brackets (d

[2020-08-02 11:36] jalvesaq commented on #9
A couple of months ago, I introduced some incompatible changes in the `omnils_` files used by `ncm-R`, and only now I have described the new fields: https://github.com/jalvesaq/Nvim-R/commit/dd27290e8fa51c37b75d6a1f9452b6b038773ee5

[2020-08-02 12:10] marskar commented on #9
Given the new comments by @fifdick, @AlfredSAM, and @jalvesaq, I reopened this issue.
I think making `ncm-R` compatible with the changes @jalvesaq made to the `omnils_ files` should resolve the problems experienced by @fifdick and @AlfredSAM.

[2020-08-08 10:49] anuragnsharma opened #29 "How to navigate code-completion suggestions?"
When I'm typing code, and ncm-R provides options for the functions, I have to move my hand over to the real arrow keys instead of being able to move through the options using home row keys `j` and `k`. Is there a way to remap this?

[2020-08-08 12:26] anuragnsharma commented on #29
<C-n> and <C-p> Got it. I found this in the documentation: Optional .vimrc tips.

A suggestion: can this be added to README.md? Might save some time for others. Thanks!

[2020-08-08 12:26] #29 closed, assigned to nobody

[2020-09-12 23:05] wejrowski opened #30 "Restricting auto complete for $ — way too many showing"
I'm having tons of options show up for auto complete after a var$ syntax. I'm using ctags so perhaps I need to tweak something to restrict for R files, but I'm also seeing R keywords show up after the dollar sign. Does anyone know how to restrict the tab completion after the dollar sign to only variables within that dataset?

[2020-09-15 05:35] xllvrr opened #31 "ncm completion not showing"
Recently, the omnicompletion has not been showing
Configuration file is as below, using ArchLinux on the latest kernel right now. Not sure whether it's a problem with the settings or with another plugin. Tried to uninstall some of the plugins I thought might have an issue and reinstalled the ncm2 stuff but doesn't seem to make a diff

[code]
Currently, only packages show
![image](https://user-imag

[2020-09-17 02:44] xllvrr commented on #9
I am also experiencing the same difficulties as @AlfredSAM and @fifdick ; this issue also only cropped up recently, so I'm assuming it's because of the changes that Jalvesaq made. Thanks for opening the issue!

[2020-09-17 17:20] statquant commented on #9
That’s probably a good time to switch to r-lsp unfortunately i cannot fond any clear setup instructions

[2020-09-24 01:47] marskar commented on #9
@statquant, I agree. I gave r-lsp a try via a [coc](https://github.com/neoclide/coc.nvim) plugin called [coc-r-lsp](https://github.com/neoclide/coc-r-lsp). I am running it in [vimr](https://github.com/qvacua/vimr) (no relation to Nvim-R), so I can send code with command enter (like in RStudio on MacOS).
I installed coc via vim-plug and the languageserver R package `install.packages("languageserver

[2020-09-24 01:53] marskar commented on #31
@xllvrr, I am experiencing the same. You can take a look at #9 for more info, but I think the best suggestion will be to give r-lsp a try. I switched am using a [coc](https://github.com/neoclide/coc.nvim) plugin called [coc-r-lsp](https://github.com/neoclide/coc-r-lsp) in [vimr](https://github.com/qvacua/vimr) (no relation to Nvim-R). I am using vimr so I can send code with command enter (like in

[2020-09-24 14:49] AlfredSAM commented on #9
@marskar @statquant  Yes. I also try [coc-r-lsp](https://github.com/neoclide/coc-r-lsp) with nvim-R in nvim, and it seems to work well. I also use [ALE](https://github.com/dense-analysis/ale) to help format the codes automatically.

[2020-10-17 15:05] statquant commented on #9
@marskar and @AlfredSAM while coc-r works I have difficulties getting a lot from it. Somehow I fail to find documentation on how to setup all the features. Would you mind sharing what you have ? maybe we could create a gist with it and get a little bit more out of it.

[2020-10-17 16:04] mskar commented on #9
@statquant, I don't think there are any coc-r-lsp features to set up.
Diagnostics (with `lintr`) are enabled by default.

There are however many awesome features available in the [coc ecosystem of extensions](https://github.com/neoclide/coc.nvim/wiki/Using-coc-extensions#implemented-coc-extensions).
I highly recommend setting up snippets:
1. Enable snippet support in [`~/.Rprofile`](https://github

[2021-02-11 16:17] andyquinterom commented on #31
Having the same issue in macOs

[2021-03-05 12:57] Freguglia commented on #31
I'm having the same issue. Objects in `.GlobalEnv` appear in the completion box normally, but functions (e.g., `read.csv`) do not. When you trigger omni completion manually with `<C-X><C-O>` functions appears as expected.

Completion for object in `.GlobalEnv`
![globalenv](https://user-images.githubusercontent.com/26393042/110118713-89c83600-7d99-11eb-919a-5a4204a47a9a.png)

Completion for `ggplot

[2021-03-25 01:35] mingsu opened #32 "how update word_pattern to something like `fig:testplot`"
Current configuration doesn't support to autocomplete figure or table labels in Rmarkdown files.

[code]

[2021-05-18 02:35] PumpkinL commented on #17
I encountered the same problem. The message is :

[ncmR] Could not load completion data: [Errno 20] Not a directory: 0
[ncm_r@yarp] Traceback (most recent call last):
[ncm_r@yarp]   File "/home/liuck/.vim/plugged/nvim-yarp/pythonx/yarp.py", line 63, in <module>
[ncm_r@yarp]     module_obj = importlib.import_module(module)
[ncm_r@yarp]   File "/usr/local/lang/python/3.9.4/lib/python3.9/importlib/__

[2021-05-18 02:50] PumpkinL opened #33 "Could not load completion data"
I encountered the same problem https://github.com/gaalcaras/ncm-R/issues/17#issue-401641952.

The message is :

[code]

But the completion of Omni in Nvim-R working successfully when I type \<C-x\>\<C-o\>

I also checked the R_compldir:
`ls`

[code]

Here is my .vimrc file.
[code]

[2021-09-08 17:06] joiharalds commented on #33
I also encountered this problem after a long overdue update to my neovim plugins and will leave this here as information for others.

I looked into the version history of Nvim-R and in commit `467768ee03be66e4db89b7dd1b34cd91f0689d38` from the 15th of June 2020 the git log says

So it looks like ncm-r has been abandoned and the ncm2 plugin too. The Nvim-R devs then removed support for ncm-r in com

[2021-09-09 01:11] PumpkinL commented on #33
@joiharalds Thank you very much. I use coc.nvim instead.

[2021-09-24 14:36] ryan-heslin commented on #33
@joiharalds Thanks so much for explaining this. I've been trying to chase down the cause of this issue for a month, and this finally solves the mystery. It seems like YouCompleteMe is a good alternative, since it's being actively developed and supports R, though it dowsn't officially support neovim.

[2021-12-17 07:28] mingsu opened #34 "How to work with LuaSnip in Neovim?"
Many users are using Lua-based plugins now, is it possible to move this great plugin work with LuaSnip based auto completion?

[2021-12-19 19:03] c1au6i0 commented on #14
I have the exact same error but the folder `pythonx` does not contain the file at all. Not sure why. Any hint? The folder contains only `yarp.py`

[2021-12-22 17:09] c1au6i0 opened #35 "Can't load Nvim-R options and find completion files"
Hello I am using `NeoVim`, I have `Nvim-R` plug installed and operational but I get this error when using `ncmR` .

[code]
Completion works for non R libraries and previously used commands.
I looked for "g:rplugin_compldir" as indicated in a previous issue but I did not find it on my system.

Thanks!

[2022-01-23 21:40] eliotbehr commented on #14
Did you ever figure it out? I also have the same issue with ncm-R showing yarp dead etc. and no pythonx folder

[2022-01-24 04:43] c1au6i0 commented on #14
@eliotbehr I did not. I realized that `ncm-R` is not  maintained anymore and so I moved to another plugin
https://github.com/neoclide/coc.nvim  .  `COC` works well and provides same functionalities

[2022-06-29 08:28] oli666 commented on #35
Same issue here